#!/bin/bash

cd /home/deploy/{{item}}
. .envrc
git pull

docker-compose down

# Pass current commit hash as the image tag
COMMIT=`git rev-parse HEAD` docker-compose -f docker-compose.yml -f docker-compose-prod.yml up -d
